<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>BikeShop</title>
  <link rel="stylesheet" href="../static/CSS/login.css">
</head>

<body>
<div class="container_for_sign_in">
  <div class="header_for_sign_in" style="height: 50px"></div>
  <div style="display: grid; grid-template-columns: 1fr; grid-gap: 3vh;">
    <div style="align-items: center">
      <table class="styled-table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Article Number</th>
          <th>In Stock</th>
          <th>Price</th>
          <th>Product deleting</th>
          <th>Go to settings</th>
          <th>Creation Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, productIndex : ${products}" th:class="${productIndex.index % 2 == 0} ? 'active-row'">
          <td th:text="${product.getTitle()}"></td>
          <td th:text="${product.getArticleNumber()}"></td>
          <td th:text="${product.getQuantityInStock()}"></td>
          <td th:text="${product.getPrice()}"></td>
          <td>
            <form th:action="@{/products/product/delete/{productId}(productId=${product.productId})}" th:method="POST">
              <input type="hidden" name="_csrf" th:value="${_csrf.token}">
              <input type="submit" value="Delete" class="table_btn">
            </form>
          </td>
          <td>
            <a th:href="@{/products/product/see_information_about_product/{productId}(productId=${product.getProductId()})}">
              View Product Information
            </a>
          </td>
          <td th:text="${product.creationDate()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>
