@font-face{
    font-family: button-text;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: #edfdfc;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: button-text;
    transition: color .7s ease-in-out;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #66FCF1, black, #66FCF1, #ff00c8, black, #66FCF1, #ff00c8, black, #66FCF1);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    border-radius: 10px;
}

.glow-on-hover:hover:after {
    background: transparent;
}

.glow-on-hover:hover {
    color: white;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #edfdfc;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: background .5s ease-in-out;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 250% 0; }
    100% { background-position: 0 0; }
}