@font-face {
    font-family: menu-button;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: BikeShop;
    src: url(../fonts/brushscriptmtkursiv.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #0f1116;
}

.main_grid {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 5%;
    width: 100%;
    height: 100vh;
}

.item_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 5vw;
    height: 100%;
}

.hero_text {
    width: 100%;
    font-family: BikeShop;
    font-size: 25vh;
    color: #66FCF1;
}

.second_text {
    width: 90%;
    font-family: menu-button;
    font-size: 2.5vh;
    color: white;
}

.choose_form {
    padding-top: 5vh;
}

.input {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    font-family: menu-button;
    text-align: center;
    background-color: #edfdfc;
    border-radius: 10px;
    text-transform: uppercase;
}

.error_text {
    text-transform: uppercase;
    font-family: menu-button;
    width: 15vw;
    padding-top: 3vh;
    color: red;
}