* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --color-header: #f0f0f0;
    --color-text:#f0f0f0;
    --gallery-gap:  calc(var(--index) * 10)
}
.content, .main-header, .BikeShop__text, .gallery > * {
	will-change: transform;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: menu-button;
}

@font-face{
    font-family: menu-button;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: BikeShop;
    src: url(../fonts/brushscriptmtkursiv.ttf);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
@font-face {
    font-family: footer;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: boldMont;
    src: url(../fonts/Montserrat-Black.ttf);
}

body{
    padding: 100px 0;
    background-color: #fafafa;
    color: #fafafa;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    height: 15vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.header__container{
    display: block;
    margin: 0 50px;
    max-height: 100vh;
    max-width: 1500px;
}

.headers__of__header{
    display: flex;
}

@keyframes fadeOut {
    0% { background-color: #b9fcf7; }
    100% { background-color: rgba(255, 255, 255, 0); }
}

/*------------------------*/
.bikeshop__header{
    display: inline-block;
    width: 100vw;
}
.bikeshop__header__text{
    position:absolute;
    top: 20px;  
    left: 43%; 
    font-size: 5vw;
    font-family: BikeShop;
    
}

/*------------------------------------------*/
/*-------------------main-------------------*/

.container{
    display: block;
    width: 100%;
}


.hero__selection img{
    width: 100vw;
    height: 85vh;
}

.hero__text{
    position: absolute;
    top: 30vh;
    left: 2vw;
    font-family: menu-button;
    text-transform: uppercase;
    font-size: 8vh;
}

.hero__text__little{
    padding: 1vh;
    width: 30vw;
    font-size:2.3vh;
}

.product {
	border-radius: 4px;
	padding: 20px;
	padding-top: 9px;
	font-size: 14px;
	background-color: #f1f1f1;
    font-family: menu-button;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.product__image {
	position: relative;
	overflow: hidden;
	display: block;
	height: 162px;
}

.image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-switch__item {
	flex-grow: 1;
	cursor: pointer;
}

.image-switch__img {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
	background-color: #f1f1f1;;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.image-switch__img img {
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-switch__item:first-child .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-switch__item:hover .image-switch__img {
	opacity: 1;
	z-index: -1;
}

.image-pagination {
	position: absolute;
	z-index: 30;
	left: 0;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.image-pagination__item {
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	margin: 0 3px;
	background-color: #c4c4c4;
}

.image-pagination__item--active {
	background-color: #66FCF1;
}

.product__title {
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: black;
}

.final__description{

    position: absolute;
    width: 395px;
    height: 340px;
    display: none;
}

.bold__text{
    font-family: boldMont;
}

.light__text{
    padding-bottom: 7%;
}

.classification{
    position: absolute;
    bottom: 0;
    font-size: 2.4vw;
    font-family: BikeShop;
}

.product__info {
	margin-bottom: 17px;
	font-size: 12px;
	color: var(--color-light);
}

.product__term {
	display: block;
	margin-bottom: 7px;
}

.product__available {
	display: block;
}

.product-price {
	margin-bottom: 17px;
	display: flex;
	align-items: center;
}

.product-price__current {
	margin-right: 12px;
	font-size: 24px;
}

.product-price__old {
	font-size: 12px;
	text-decoration: line-through;
}

.product__btn {
    margin-bottom: 10px;
    font-family: menu-button;
	border: none;
	font-size: 17px;
	padding: 14px 0;
	border-radius: 25px;
	width: 100%;
	color: black;
	background-color: #66FCF1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product__btn__is__not__active {
    margin-bottom: 10px;
    font-family: menu-button;
    border: none;
    font-size: 17px;
    padding: 14px 0;
    border-radius: 25px;
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.products__selection{
    margin-top: 2%;
}

.container__of__products{
    max-width: 1234px;
    padding: 0 15px;
    margin: 0 auto;
}

.product-grid{
    grid-column: 3 span;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product__btn__sort {
    margin-bottom: 10px;
    font-family: menu-button;
	border: none;
	font-size: 17px;
	padding: 14px 0;
	border-radius: 25px;
	width: 100%;
	color:#66FCF1;
	background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product__btn:hover {
    color: white;
	background-color: black;
    transition: background-color 0.3s ease-in-out;
}


