@font-face{
    font-family: menu-button;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: footer;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
	font-family: input;
	src: url(../fonts/Montserrat-Medium.ttf)
}
.cart {
    padding-top: 49px;
    position: absolute;
    right: 40px;
    border: none;
    background-color: transparent;
    transition: transform 0.2s ease-in-out;
}

.cart.active:hover {
	cursor: pointer;
    transform: scale(1.1);
}


.header__cart {
	margin-left: 40px;
}


.cart__quantity.active {
	position: absolute;
	right: -10px;
	top: 53%;
	transform: translateY(-50%);
	margin-top: -5px;
	background-color: #13ffef;
	border-radius: 100%;
	padding: 2px;
	color: black;
	font-size: 12px;
	min-height: 10px;
	min-width: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.cart-content {
	cursor: default;
	width: 490px;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f1f1f1;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
	color: black;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.cart.active:hover .cart-content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.cart-content__list {
	max-height: 330px;
}

.cart-product {
	color: black;
	display: flex;
	align-items: center;
	padding: 12px 20px;
	padding-right: 13px;
	transition: background-color 0.3s;
}

.cart-product:hover {
	background: rgba(93, 113, 221, 0.1);
	transition: background-color 0.3s;
}

.cart-product__img {
	margin-right: 20px;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}

.cart-product__title {
	max-width: 300px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: black;
	margin-bottom: 18px;
}

.cart-product__price {
	font-family: menu-button;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: black
}

.cart-product__delete {
	position: absolute;
	right: 7%;
	border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("../Images/trash.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 100px;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
}

.cart-content__bottom {
	padding: 20px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-content__fullprice {
	font-size: 14px;
	line-height: 20px;
	color: black;
	display: flex;
	flex-direction: column;
}

.fullprice {
	padding-left: 2px;
	margin-top: 10px;
	font-family: menu-button;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: black
}

.total__price{
	font-family: menu-button;
	font-size: 15px;
}

.cart-content__btn {
    font-family: menu-button;
	border: none;
	font-size: 17px;
	padding: 14px 0;
	border-radius: 25px;
	width: 100%;
	color: black;
	background-color: #66FCF1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
	display: inline-block;
	width: 246px;
	text-align: center;
}

.cart-content__btn:hover {
	color: white;
	background-color: black;
    transition: background-color 0.3s ease-in-out;
}

.simplebar-track.simplebar-vertical {
	width: 0.5px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: #66FCF1;
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}


.order-modal {
	font-family: menu-button;
	padding: 40px;
	width: 592px;
	min-height: 315px;
}

.order-modal__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-modal__title {
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: black;
}

.order-modal__number {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: black;
}





.order {
	padding: 0 40px;
}

.order__label {
	
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: black
}

.order__input {
	font-family: input;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	padding-left: 14px;
	padding-right: 14px;
	width: 240px;
	height: 45px;
	background: #f3fffe;
	border-radius: 4px;
	border: none;
	transition: all 0.3s ease-in-out;
}

.order__input:hover {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	padding-left: 14px;
	padding-right: 14px;
	width: 240px;
	height: 45px;
	background: #ddfffc;
	border-radius: 4px;
	border: none;
}

.order__input::placeholder {
	color: rgb(147, 147, 147);
}

.order-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-modal__list {
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-modal__list {
	display: none;
}

.order-modal__item:not(:last-child) {
	margin-bottom: 14px;
}

.btn {
    margin-bottom: 10px;
    font-family: menu-button;
	border: none;
	font-size: 17px;
	padding: 14px 0;
	border-radius: 25px;
	width: 100%;
	color: white;
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover {
    color: black;
	background-color: #66FCF1;
    transition: background-color 0.3s ease-in-out;
}