<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>BikeShop</title>

    <link rel="icon" type="image/png" href="../../static/Images/helmet.png">
    <link rel="stylesheet" href="../static/CSS/choose_bike_type.css">
    <link rel="stylesheet" href="../static/CSS/button.css">
    <style>
        canvas {
            position: absolute;
            z-index: 0;
        }

        .main_grid {
            position: relative;
            z-index: 1;
        }
    </style>
</head>

<body>
    <canvas id="test" style="position: absolute;"></canvas>
    <div class="main_grid">
        <div class="item_grid">
            <a class="hero_text">BikeShop</a>
            <a class="second_text">
                OUR SHOP GIVES YOU A GREAT OPPORTUNITY TO DISCOVER THE BEST BIKE TYPE FOR YOUR CHOSEN LOCATION.</a><br>
            <a class="second_text">
                YOU ONLY NEED TO ENTER THE CITY OR ADDRESS.</a><br>
            <a class="second_text">
                THE RESULT WILL BE READY IN UP TO 10 SECONDS.</a><br><br>
        </div>
        <div class="item_grid">
            <form th:action="@{/choose_your_bike}" th:method="POST" class="choose_form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="text" name="location" placeholder="INPUT LOCATION" class="input" required /><br><br>
                <button type="submit" class="glow-on-hover">FIND YOUR BIKE TYPE</button>
            </form>
            <a th:if="${country == 'country'}" class="error_text">You must input only city or address</a>
            <a th:if="${errorInfo}" th:text="${errorInfo}" class="error_text">Text</a>
        </div>
    </div>
</body>

</html>

<script>
    const canvas = document.getElementById('test');
    const ctx = canvas.getContext('2d');

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    const dots = [];
    const dotCount = 400;

    for (let i = 0; i < dotCount; i++) {
        dots.push({
            x: Math.random() * canvas.width,
            y: Math.random() * canvas.height,
            radius: 2,
            dx: (Math.random() - 0.5) * 0.5,
            dy: (Math.random() - 0.5) * 0.5,
            color: 'white'
        });
    }

    for (let i = 0; i < dotCount; i++) {

        dots.push({
            x: Math.random() * canvas.width,
            y: Math.random() * canvas.height,
            radius: 2.5,
            dx: (Math.random() - 0.5) * 0.5,
            dy: (Math.random() - 0.5) * 0.5,
            color: '#66FCF1'
        });
    }

    function animate() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        dots.forEach(dot => {
            dot.x += dot.dx;
            dot.y += dot.dy;

            if (dot.x < 0 || dot.x > canvas.width) {
                dot.dx = -dot.dx;
            }
            if (dot.y < 0 || dot.y > canvas.height) {
                dot.dy = -dot.dy;
            }

            ctx.beginPath();
            ctx.arc(dot.x, dot.y, dot.radius, 0, Math.PI * 2);

            ctx.fillStyle = dot.color;
            ctx.fill();
        });

        requestAnimationFrame(animate);
    }


    animate();


</script>