<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/add_product/add_product_info/{product_information_id}(product_information_id=${productInformation.getProductInformationId()})}" th:method="POST" th:object="${productInformation}" enctype="multipart/form-data">

    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" name="productId" th:value="${product.getProductId()}">

    <input th:field="*{frame}" type="text" name="frame" placeholder="Frame" class="input" required/><br><br>
    <input th:field="*{fork}" type="text" name="fork" placeholder="Fork" class="input" required/><br><br>
    <input th:field="*{brakes}" type="text" name="brakes" placeholder="Brakes" class="input" required/><br><br>
    <input th:field="*{swat}" type="text" name="swat" placeholder="Swat" class="input" required/><br><br>
    <input th:field="*{cassette}" type="text" name="cassette" placeholder="Cassette" class="input" required/><br><br>

    <input type="submit" value="Добавить товар" class="sign_in_btn"/>
</form>
</body>
</html>