<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BikeShop</title>
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
    <link rel="stylesheet" th:href="@{/CSS/file_upload.css}">
    <link rel="stylesheet" th:href="@{/CSS/select_box.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container_for_sign_in">
    <div class="header_for_sign_in" style="height: 50px"></div>
    <div style="display: grid; grid-template-columns: 1fr; grid-gap: 3vh;">
        <div style="align-items: center">
            <table class="styled-table">
                <thead>
                <div th:if="${error}" class="error" th:text="${error}"></div>
                <tr>
                    <th>Title</th>
                    <th>Article Number</th>
                    <th>In Stock</th>
                    <th>Price</th>
                    <th>Product deleting</th>
                    <th>Go to settings</th>
                    <th>Creation Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, productIndex : ${products}"
                    th:class="${productIndex.index % 2 == 0} ? 'active-row'">
                    <td th:text="${product.getTitle()}"></td>
                    <td th:text="${product.getArticleNumber()}"></td>
                    <td th:text="${product.getQuantityInStock()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td>
                        <form th:action="@{/admin/add_product/delete/{product_id}(product_id=${product.getProductId()})}"
                              th:method="POST">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Delete" class="table_btn">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/admin/add_product/see_information_about_product/{productId}(productId=${product.getProductId()})}">
                            View Product Information
                        </a>
                    </td>
                    <td th:text="${product.getFormattedDate()}"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/admin}">
                    <button class="product__btn">GO TO ADMIN PAGE</button>
                </a>
            </div>
        </div>
        <div class="login_form">
            <div class="BikeShop__text">BikeShop</div>
            <div class="sign_in">Add New Product</div>
            <form th:action="@{/admin/add_product/create}" th:method="POST" th:object="${product}"
                  enctype="multipart/form-data">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrfToken">
                <input th:field="*{title}" type="text" name="title" placeholder="Model Name" class="input"
                       required/><br><br>
                <input type="number" name="quantityInStock" placeholder="Quantity In Stock" class="input" required/><br><br>
                <input type="number" name="price" placeholder="Price" class="input" required/><br><br>
                <input type="number" name="discount" placeholder="Discount" class="input"/><br><br>
                <div class="selectdiv">
                    <label>
                        <select name="category">
                            <option th:each="category : ${productCategories}" th:text="${category}" th:value="${category}"></option>
                        </select>
                    </label>
                </div>
                <div class="upload">
                    <button type="button" class="btn-warning">
                        <i class="fa fa-upload"></i> Upload File
                        <input type="file" name="files" multiple>
                    </button>
                </div>
                <input type="submit" value="ADD PRODUCT" class="sign_in_btn" style="margin-top: 1vh"/>
                <a href="/product" class="registration">All Products</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
