<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BikeShop</title>
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
</head>
<body>
<div class="container_for_sign_in">
    <div class="header_for_sign_in" style="height: 50px"></div>
    <div style="display: grid; grid-template-columns: 1fr; grid-gap: 3vh;">
        <div style="align-items: center">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Article Number</th>
                    <th>In Stock</th>
                    <th>Price</th>
                    <th>Product deleting</th>
                    <th>Go to settings</th>
                    <th>Creation Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, productIndex : ${products}" th:class="${productIndex.index % 2 == 0} ? 'active-row'">
                    <td th:text="${product.getTitle()}"></td>
                    <td th:text="${product.getArticleNumber()}"></td>
                    <td th:text="${product.getQuantityInStock()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td>
                        <form th:action="@{/admin/add_product/delete/{product_id}(product_id=${product.getProductId()})}" th:method="POST">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Delete" class="table_btn">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/admin/add_product/see_information_about_product/{productId}(productId=${product.getProductId()})}">
                            View Product Information
                        </a>
                    </td>
                    <td th:text="${product.creationDate()}"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/admin}">
                    <button class="product__btn">GO TO ADMIN PAGE</button>
                </a>
            </div>
        </div>
        <div class="login_form">
            <div class="BikeShop__text">BikeShop</div>
            <div class="sign_in">Add New Product</div>
            <form th:action="@{/admin/add_product/create}" th:method="POST" th:object="${product}" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input th:field="*{title}" type="text" name="title" placeholder="Model Name" class="input" required/><br><br>
                <input type="number" name="quantityInStock" placeholder="Quantity In Stock" class="input" required/><br><br>
                <input type="text" name="articleNumber" placeholder="Article Number" class="input" required/><br><br>
                <input type="number" name="price" placeholder="Price" class="input" required/><br><br>
                <input type="number" name="discount" placeholder="Discount" class="input"/><br><br>
                <div class="result_text" style="font-size: 2.3vh">
                    First Photo: <input type="file" name="file1" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Second Photo: <input type="file" name="file2" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Third Photo: <input type="file" name="file3" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Fourth Photo: <input type="file" name="file4" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Fifth Photo: <input type="file" name="file5" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Sixth Photo: <input type="file" name="file1" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Seventh Photo: <input type="file" name="file2" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Eighth Photo: <input type="file" name="file3" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Ninth Photo: <input type="file" name="file4" style="float: right;"/><br>
                </div>
                <div class="result_text" style="font-size: 2.3vh">
                    Tenth Photo: <input type="file" name="file5" style="float: right;"/><br>
                </div>
                <input type="submit" value="Добавить товар" class="sign_in_btn"/>
                <a href="/product" class="registration">All Products</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
