<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/CSS/select_box.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 th:text="'Your product is: ' + ${product.getTitle()}"></h1>
<h1>Show information about: </h1>
<h2 th:text="'Quantity In Stock ' + ${product.getQuantityInStock()}"></h2>
<form th:action="@{/admin/add_product/product_details/{product_id}(product_id=${product.getProductId()})}"
      th:method="POST" th:object="${product}">
    <input type="text" th:field="*{title}" placeholder="Model name" value=""><br><br>
    <input type="text" th:field="*{quantityInStock}" placeholder="Quantity in Stock"> <br><br>
    <input type="text" th:field="*{price}" placeholder="Price" ><br><br>
    <input type="text" th:field="*{discount}" ><br><br>
    <input type="submit" value="UPDATE INFORMATION!">
</form>
<h2>Do you wanna add product information?</h2>
<a th:if="${product.getProductCategories() == T(com.example.bikeshop.models.enums.ProductCategory).EQUIPMENT || product.getProductCategories() == T(com.example.bikeshop.models.enums.ProductCategory).COMPONENTS}">You can't add additional information to this type of product</a>

<a th:unless="${product.getProductCategories() == T(com.example.bikeshop.models.enums.ProductCategory).EQUIPMENT || product.getProductCategories() == T(com.example.bikeshop.models.enums.ProductCategory).COMPONENTS}" th:href="@{/admin/add_product/product_details/add_product_info/{product_id}(product_id=${product.getProductId()})}">add info</a>
</body>
</html>