<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <title>BikeShop</title>

    <link rel="icon" type="image/png" href="../../static/Images/helmet.png">

    <link rel="stylesheet" href="../../static/CSS/login.css">
    <link rel="stylesheet" href="../../static/CSS/file_upload.css">
    <link rel="stylesheet" href="../../static/CSS/select_box.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container_for_sign_in">
    <div class="header_for_sign_in" style="height: 50px"></div>
    <div style="display: grid; grid-template-columns: 1fr; grid-gap: 3vh;">
        <div style="align-items: center">
            <table class="styled-table">
                <thead>
                <div th:if="${error}" class="error" th:text="${error}"></div>
                <tr>
                    <th>IMAGE</th>
                    <th>TITLE</th>
                    <th>ARTICLE</th>
                    <th>STOCK</th>
                    <th>PRICE</th>
                    <th>TYPE</th>
                    <th>DISCOUNT</th>
                    <th>DELETE</th>
                    <th>PRODUCT INFORMATION</th>
                    <th>CREATION DATE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, productIndex : ${products}">
                    <td><img th:each="img : ${product.getImages()}"
                             th:if="${img.isPreviewImage()}"
                             th:src="@{/images/{image_id}(image_id=${img.getImageId()})}" alt="" class="preview_image"/>
                    </td>
                    <td th:text="${product.getTitle()}"></td>
                    <td th:text="${product.getArticleNumber()}"></td>
                    <td th:text="${product.getQuantityInStock()}"></td>
                    <td th:text="${product.getPrice()}"></td>
                    <td th:text="${product.getFormatCategory()}"></td>
                    <td th:if="${product.getDiscount() != null}" th:text="${product.getDiscount()}"></td>
                    <td th:unless="${product.getDiscount() != null}">-</td>
                    <td>
                        <form th:action="@{/admin/products/delete/{product_id}(product_id=${product.getProductId()})}"
                              th:method="POST">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Delete" class="table_btn">
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/admin/products/product_details/{productId}(productId=${product.getProductId()})}">
                            <button class="table_btn">VIEW INFORMATION</button>
                        </a>
                    </td>
                    <td th:text="${product.getFormattedDate()}"></td>
                </tr>
                </tbody>
            </table>

        </div>
        <a th:href="@{/admin/products/add_product}" style="margin: auto;">
            <button class="table_btn_go_to" style="width: auto; margin: auto; height: 4vh;">ADD NEW PRODUCT</button>
        </a>
        <a th:href="@{/admin}" style="margin: auto;">
            <button class="table_btn_go_to" style="width: auto; margin: auto; height: 4vh;">USERS</button>
        </a>
        <a th:href="@{/}" style="margin: auto;">
            <button class="table_btn_go_to" style="width: auto; margin: auto; height: 4vh;">GO TO MAIN PAGE</button>
        </a>
    </div>
</div>
</body>
</html>
