<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>BikeShop</title>

    <link rel="icon" type="image/png" href="../../static/Images/helmet.png">

    <link rel="stylesheet" href="../../static/CSS/login.css">
</head>
<body>
<div class="container_for_sign_in">
    <div class="header_for_sign_in" style="height: 50px"></div>
    <div style="display: grid; grid-template-columns: 1fr; grid-gap: 3vh;">
        <div style="align-items: center">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>SURNAME</th>
                    <th>EMAIL</th>
                    <th>ROLE</th>
                    <th>CITY</th>
                    <th>COUNTRY</th>
                    <th>ADDRESS</th>
                    <th>CREATION DATE</th>
                    <th>ACTIVITY</th>
                    <th>ACTIVITY MANAGEMENT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, userIndex : ${users}" th:class="${userIndex.index % 2 == 0} ? 'active-row'">
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getSurname()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td th:text="${user.getAdditionalInformation().getCity()}"></td>
                    <td th:text="${user.getAdditionalInformation().getCountry()}"></td>
                    <td th:text="${user.getAdditionalInformation().getAddress()}"></td>
                    <td th:text="${user.getFormattedCreationDate()}"></td>
                    <td th:if="${user.isActive()}">Active</td>
                    <td th:unless="${user.isActive()}">Banned</td>
                    <td>
                        <form th:action="@{/admin/user/ban/{user_id}(user_id=${user.getUserId()})}" th:method="POST">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="CHANGE ACTIVITY" class="table_btn">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/admin/products}" style="margin: auto;">
            <button class="table_btn_go_to" style="width: auto; margin: auto; height: 4vh;">PRODUCTS</button>
        </a>
        <a th:href="@{/}" style="margin: auto;">
            <button class="table_btn_go_to" style="width: auto; margin: auto; height: 4vh;">GO TO MAIN PAGE</button>
        </a>
    </div>
</div>
</body>
</html>