<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>BikeShop</title>

    <link rel="icon" type="image/png" href="../../static/Images/helmet.png">

    <link rel="stylesheet" href="../../static/CSS/login.css">
</head>
<body>
<th:block th:if="${user.getEmail()}">
    <div class="container_for_sign_in">
        <div class="grid_container">
            <div class="grid_item">
                <div class="BikeShop__text" style="font-size: 9vh">BikeShop</div>
                <div class="sign_in" style="font-size: 1.9vh; padding-top: 5vh;">My Account</div>
                <div class="sign_in" style="font-size: 4vh" th:text="${user.getName()} + ' ' + ${user.getSurname()}"></div>
                <div style="padding-top: 90%">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="submit" value="SIGN OUT" class="sign_in_btn"
                               style="width: 80%; margin-left: auto; margin-right: auto;">
                    </form>
                </div>
                <div>
                    <a th:if="${user.isAdmin()}" th:href="@{/admin}" class="registration">ADMIN PANEL</a>
                </div>
            </div>

            <div th:if="${user.getAdditionalInformation().allFieldsAreNotNull()}" class="grid_item item2">
                <div class="grid_container2">

                    <div class="info_text">Email</div>
                    <div class="result_text" th:text="${user.getEmail()}"></div>

                    <div class="info_text">Country</div>
                    <div th:if="${user.getAdditionalInformation().getCountry()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getCountry()}"></div>

                    <div class="info_text">City</div>
                    <div th:if="${user.getAdditionalInformation().getCity()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getCity()}"></div>

                    <div class="info_text">Address</div>
                    <div th:if="${user.getAdditionalInformation().getAddress()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getAddress()}"></div>

                    <div th:if="${user.getAdditionalInformation().getWorkingAddress()}" class="info_text">Working Address</div>
                    <div th:if="${user.getAdditionalInformation().getWorkingAddress()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getWorkingAddress()}"></div>

                    <div class="info_text">Birth Date</div>
                    <div th:if="${user.getAdditionalInformation().getDateOfBirth()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getDateOfBirth()}"></div>


                    <div class="info_text">Phone Number</div>
                    <div th:if="${user.getAdditionalInformation().getPhoneNumber()}" class="result_text"
                         th:text="${user.getAdditionalInformation().getPhoneNumber()}"></div>
                </div>
            </div>
            <div th:unless="${user.getAdditionalInformation().allFieldsAreNotNull()}" class="grid_item item2">
                <div class="grid_container2">
                    <div class="info_text">Email</div>
                    <div class="result_text" th:text="${user.getEmail()}"></div>
                    <div class="info_text">Creation Date</div>
                    <div class="result_text" th:text="${user.getFormattedCreationDate()}"></div>
                </div>
            </div>
            <div class="grid_item item3">
                <div class="grid_container2">
                    <div class="item_grid_update">UPDATE YOUR DATA</div>
                    <form th:action="@{/update-user/{user_id}(user_id=${user.getUserId()})}" th:method="POST"
                          th:object="${additionalInformation}" class="item_grid_form">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="text" th:field="*{address}" placeholder="Address" class="input item_grid_form"><br><br>
                        <input type="text" th:field="*{workingAddress}" placeholder="Working Address (if exists)"
                               class="input"><br><br>
                        <input type="text" th:field="*{city}" placeholder="City" class="input"><br><br>
                        <input type="text" th:field="*{country}" placeholder="Country" class="input"><br><br>
                        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" class="input"><br><br>
                        <input type="text" name="date_of_birth" placeholder="dd/mm/yyyy" class="input"><br><br>
                        <input type="submit" value="SAVE" class="sign_in_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:unless="${user.getEmail()}">
    <div class="container_for_sign_in">
        <div class="header_for_sign_in"></div>
        <div class="login_form">
            <div class="form_content">
                <div class="BikeShop__text">BikeShop</div>
                <div class="sign_in">SIGN IN TO YOUR ACCOUNT</div>
                <form action="/login" method="post">
                    <input type="email" name="username" placeholder="Email" class="input"><br><br>
                    <input type="password" name="password" placeholder="Password" class="input password"><br><br>
                    <div th:if="${loginError}" class="error" th:text="${loginError}"></div>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="SIGN IN" class="sign_in_btn"/>
                </form>
                <a href="/registration" class="registration">REGISTRATION</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>